@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
body{
  font-family: 'PT Sans', sans-serif;

} 
.main{
  background:linear-gradient(  to bottom,rgb(6, 6, 6),rgb(133, 72, 103));
  p{
    line-height: 1.5rem;
    letter-spacing: 1px;
  }
}
header{
   height: 251px;
   background: url("../img/sky.jpg") no-repeat center;
   border-bottom:1px solid palevioletred;
  
}
.main{
  .experience-gradient{
    background:linear-gradient(  to bottom,rgb(134, 134, 134),rgb(167, 165, 166));
  }
  .h3{
    text-shadow: 4px 4px 4px black;
  }
  section#experience{
    .h5{
    text-shadow: 4px 4px 4px black;
  }
  
  }
  a.btn-social-icon{
    padding: 18px;
    span.fa-facebook-square{
      font-size: 30px;
    }
  }

}
.hide{
    color:rgb(179, 167, 167);
  }

a.navbar-brand{
     font-size: 3em;
  }
.my{
   box-shadow: 6px 6px 13px black;
   border-radius: 28%;
  
}
.navbar{
  padding: 0;
 
}
 .navbar.bg-dark{
  border-bottom:1px solid palevioletred;
 }
 .shrink {
    height: 36px;
  }

  #navbarColor02 > ul > li > a{
  color:rgb(179, 167, 167);
  &:hover{
   color: rgb(219, 112, 147);
    border-bottom:1px solid rgb(153, 51, 204);
  }
}
hr{
  //height: 3px;
  //background-color: rgb(6, 6, 6);
  width:8%;
}
img.planet{
  border-radius: 9px 38px;
}
.gallery-block.cards-gallery .card{
  width: 80%;
  
}
#experience{
  section{
    div{
      div.row.mt-5 {
        img{
          height: 300px;
        }
      }
    }
  }
} 

#kosmos{
  background:// linear-gradient(rgba(240, 93, 245, 0.3),rgba(82, 81, 81,0.3)),
  url(../img/kosmos.jpg);
  height: 200px;
  border-radius: 10px 36px; 
  .love{
    text-shadow: 2px 2px 5px black;
    color: rgb(74, 25, 250);
    font-family: 'Londrina Sketch', sans-serif;
    padding-top: 6%;

  }
  p{
    color:rgb(74, 25, 250);
  }
}
.knowlege{
  &:link{
    color:rgb(71, 112, 247);
  }
  &:visited{
    color: rgb(152, 236, 16)
  }
  &:hover{
    color: rgb(57, 67, 186);
  }
  &:active{
    color: violet;
  }

 
}

.one span {
  color: #eef0f1;
  text-shadow: 5px 5px 7px black;
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
  60% {
      transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }

  100% {
      transform: translate(0) rotate(0) scale(1);
      opacity: 1;
  }
}




.animation {
    width: 100%;
    margin: auto;
    font-weight: 700;
   // text-transform: uppercase;
    text-align: center;
    padding: 0;
}



.animate {
    font-size: 30px;
    //margin: 100px 0 0;
   // border-bottom: 2px solid #ccc;
}

.animate span {
    display: inline-block;
}

.animate span:nth-of-type(2) {
    animation-delay: .2s;
}
.animate span:nth-of-type(3) {
    animation-delay: .3s;
}
.animate span:nth-of-type(4) {
    animation-delay: .4s;
}
.animate span:nth-of-type(5) {
    animation-delay: .5s;
}
.animate span:nth-of-type(6) {
    animation-delay: .2s;
}
.animate span:nth-of-type(7) {
    animation-delay: .6s;
}
.animate span:nth-of-type(8) {
    animation-delay: .7s;
}
.animate span:nth-of-type(9) {
    animation-delay: .8s;
}
.animate span:nth-of-type(10) {
    animation-delay: .9s;
}
.animate span:nth-of-type(11) {
    animation-delay: .99s;
}

.projects{
  width: 100%;
  border-radius: 10%;
  height: 223px;
  margin: 9px;
  box-shadow: 4px 4px 4px black;
}
footer{
  border-top:1px solid palevioletred;
}



